* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #c3f071;
    --background-color: white;
    --text-color: black;
    --sun-filter: filter: none;
}

.dark-mode {
    --main-color: #277a00;
    --background-color: #333;
    --text-color: #fff;
    --sun-filter: filter: invert(1);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.pattern-background {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.pattern-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: url('Images/background.jpg');
    background-size: 20%;
    background-repeat: repeat;
    mix-blend-mode: overlay;
    opacity: 0.5;
    z-index: -1;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: -10;
    opacity: 0.8;
}

.highlight {
    font-size: larger;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    background-color: var(--main-color);
    border-top: 5px solid var(--text-color);
    border-bottom: 5px solid var(--text-color);
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    filter: none;
}

nav ul li:hover {
    transform: scale(1.2);
}

.icon-button {
    position: fixed;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 5px solid var(--text-color);
    border-radius: 5px;
    z-index: 2;
}

.sun-icon {
    display: block;
    width: 100%;
    height: 100%;
    filter: var(--sun-filter);
    -webkit-filter: var(--sun-filter);
}

.icon-button:hover {
    animation: popOut 0.5s ease-in-out;
}

.logo {
    font-size: 8vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
    user-select: none;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.arsenal {
    display: block;
    float: right;
    width: 2%;
    opacity: 0.1;
    transition: opacity 0.3s ease;
}

.arsenal:hover {
    opacity: 1;
    animation: popOut 0.5s ease-in-out;
}

@keyframes popOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.box {
    background-color: var(--main-color);
    padding: 20px;
    border: 5px solid var(--text-color);
    border-radius: 5px;
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
}

.pitches {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.pitches h2 {
    text-align: center;
    -webkit-text-stroke-width: 0px;
    border: 5px solid var(--text-color);
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 20px;
}

.pitch {
    background-image: url('Images/Emirates.webp');
    background-size: cover;
    background-position-y: center;
    border: 5px solid var(--text-color);
    border-radius: 5px;
    margin-bottom: 20px;
    filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
    z-index: 2;
    transition: filter 0.3s ease, transform 0.3s ease;
    color: white;
    text-shadow: 2px 2px 4px black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.pitch:hover {
    filter: none;
    -webkit-filter: none;
    transform: scale(1.1);
}

.pitch h3 {
    font-size: x-large;
    padding: 20px;
    margin-bottom: 10px;
}

.pitch a {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    text-decoration: none; 
    z-index: 1;
}

.pitch button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.match {
    background-color: var(--background-color);
    background-size: cover;
    background-position-y: center;
    border: 5px solid var(--text-color);
    border-radius: 5px;
    margin-bottom: 20px;
    filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
    z-index: 2;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.match:hover {
    filter: none;
    -webkit-filter: none;
    transform: scale(1.1);
}

.match h3 {
    font-size: x-large;
    padding: 20px;
    margin-bottom: 10px;
}

.match a {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    text-decoration: none; 
    z-index: 1;
}

.match button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 1;
}

.user {
    background-color: var(--background-color);
    background-size: cover;
    background-position-y: center;
    border: 3px solid var(--text-color);
    border-radius: 3px;
    margin-bottom: 20px;
    filter: hue-rotate(90deg);
    -webkit-filter: hue-rotate(90deg);
    z-index: 2;
    transition: filter 0.3s ease, transform 0.3s ease;
}

.user:hover {
    filter: none;
    -webkit-filter: none;
    transform: scale(1.1);
}

.user h3 {
    font-size: x-large;
    padding: 20px;
    margin-bottom: 10px;
}

.user a {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%; 
    text-decoration: none; 
    z-index: 1;
}

.user button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 1;
}



